.ListItem img {
    overflow: hidden;
}

.ListItem{
    transition: all 0.2s, ease-in-out;
}

.ListItem:hover {
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);

    -webkit-transition: transform 1.03s ease-in-out;
    -moz-transition:transform 1.03s ease;
    transition : transform 1.03s ease;

    box-shadow: 0 0 20px rgba(33,33,33,.3);
}

.ListItem .heart-link {
    border: none;
    background: transparent;
}

.ListItem .heart-link:focus {
    outline: none;
}

.ListItem .heart-link:hover .fa-star-o:before {
    content: "\f005";
    color: #ffc107;
}



