.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    padding: 16px;
    left: 15%;
    top: 15%;
    box-sizing: border-box;
    border: 0;
    border-radius: 2rem !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.Modal input {
    color: black;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
